html, body {
  height: 100%;
  background-color: #6495ed;
}

#indexTitleText {
  text-align: center;
  color: #ffffff;
}

#welcomeTitle {
  text-align: center;
}

.ng-scope {
  height: 100%;
}

#kanban {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
}

.cards {
  background-color: blue;
  color: #ffffff;
  padding: 10px;
  border-radius: 5px;
}

#editCard {

}

.cardColumn {
  padding-bottom: 10px;
}

#queue {
  background-color: #ccc;
  width: 33%;
  padding: 10px;
  overflow: scroll;
}

#inProgress {
  background-color: #ddd;
  width: 33%;
  padding: 10px;
  overflow: scroll
}

#done {
  background-color: #eee;
  width: 33%;
  padding: 10px;
  overflow: scroll
}