<div class="cardColumn">
  <div class="cards">
    <form id="addCard" ng-submit="editCard($event)">
      <div>ID: {{card.id}}</div>
      <div>Title:
        <input type="text" name="title" value="{{card.title}}">
      </div>
      <div>Priority:
        <select name="priority" placeholder={{card.priority}}>
          <option value="Low">Low</option>
          <option value="Medium">Medium</option>
          <option value="High">High</option>
          <option value="Blocker">Blocker</option>
        </select>
      </div>
      <div>Status:
        <select name="status">
          <option value="Queue">Queue</option>
          <option value="In Progress">In Progress</option>
          <option value="Done">Done</option>
        </select>
      </div>
      <div>Created By: {{card.createdBy}}</div>
      <div>Assigned To:
        <select name="assignedTo">
          <option ng-repeat="user in users" value="{{user.username}}">{{user.username}}</option>
        </select>
      </div>
      <br>
      <button type="submit" id="submit">Save Card</button>
    </form>
    <button ng-click="delCard(cardId)">Delete Card</button>
  </div>
</div>