{{card}}
<div class="cardColumn">
  <form id="addCard">
    <div class="cards">
      <div>ID: {{card.id}}</div>
      <div>Title: {{card.title}}</div>
      <div>Priority: {{card.priority}}</div>
      <div>Status:
        <select name="status">
          <option value="Queue">Queue</option>
          <option value="In Progress">In Progress</option>
          <option value="Done">Done</option>
        </select>
      </div>
      <div>Created By: {{card.createdBy}}</div>
      <div>Assigned To:
        <select name="assignedTo">
          <option ng-repeat="user in users" value="{{user.username}}">{{user.username}}</option>
        </select>
      </div>
      <br>
      <button ng-submit="editCard(cardId)">Save Card</button>
      <button ng-click="delCard(cardId)">Delete Card</button>
    </div>
  </form>
</div>