<div id="addCard">
  <form id="addCard" action="/" method="POST">
    <input type="text" name="title" placeholder="Title"/>
    <select name="priority">
      <option value="Low">Low</option>
      <option value="Meduim">Meduim</option>
      <option value="High">High</option>
      <option value="Blocker">Blocker</option>
    </select>
    <select name="status">
      <option value="Queue">Queue</option>
      <option value="In Progress">In Progress</option>
      <option value="Done">Done</option>
    </select>
    <select name="createdBy">
      <option ng-repeat="user in users" value="{{user.username}}">{{user.username}}</option>
    </select>
    <select name="assignedTo">
      <option ng-repeat="user in users" value="{{user.username}}">{{user.username}}</option>
    </select>
    <button type="submit" ng-click="Kanban.addCard(title, priority, createdBy, assignedTo);title=''; priority=''; createdBy=''; assignedTo='';">Create Card</button>
  </form>
</div>