{{cardId}}
<div class="cardColumn"  ng-repeat="card in cards | filter:{id:cardId}">
  <div class="cards">
    <div>ID: {{card.id}}</div>
    <div>Title: {{card.title}}</div>
    <div>priority: {{card.priority}}</div>
    <div>Status: {{card.status}}</div>
    <div>Created By: {{card.createdBy}}</div>
    <div>Assigned To: {{card.assignedTo}}</div>
    <button class="viewTest" onclick="location.href='/#/'"></button>
    <a href="/#/kanban">Back</a>
    <button class="editCard">Edit card</button>
  </div>
</div>